# This workflow will run Integration Tests

name: Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Run minikube cluster
      run: |
        sudo apt-get install conntrack
        curl -sLo minikube "$(curl -sL https://api.github.com/repos/kubernetes/minikube/releases/latest | jq -r '[.assets[] | select(.name == "minikube-linux-amd64")] | first | .browser_download_url')"
        chmod +x minikube
        sudo mv minikube /bin/
        minikube config set vm-driver docker
        make run-local
    - name: Run integration tests
      run: |
        dir=~/.java/.userPrefs/jetbrains/_\!\(\!\!cg\"p\!\(\}\!\}@\"j\!\(k\!\|w\"w\!\'8\!b\!\"p\!\':\!e@=\=
        mkdir -p "$dir"
        cp .github/workflows/prefs.xml $dir
        mkdir -p ~/.local/share/JetBrains/consentOptions
        cp .github/workflows/accepted ~/.local/share/JetBrains/consentOptions
        export DISPLAY=:99.0
        Xvfb -ac :99 -screen 0 1920x1080x16 &
        ./gradlew integrationTest --info
    - uses: actions/upload-artifact@v1
      with:
        name: ${{ runner.os }}-integration-test-reports
        path: build/reports/tests/integrationTest
      if: always()
    - name: Archiving screenshots
      uses: actions/upload-artifact@v2
      with: 
        name: screenshots
        path: |
          build/screenshots/*
